{{ define "index-info" }}
    <div class="jumbotron">
        <p>
            Aggregator is an application that represents 
            GitHub Pull Requests and Activity stream in a more configurable and detailed way.
            It helps organize code review process by monitoring events from organizations and projects,
            structuring and aggregating them in the fashion that fits a user best.
        </p>
    </div>
{{ end }}