{{ define "orgs-dropdown" }}
    <div class="orgs" id="orgs">
        <div class="dropdown">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="dropdown" id="orgs-dropdown-button">Organizations</a>
            </li>
            <div class="dropdown-menu" id="orgs-dropdown-menu">
            </div>
        </div>

        <script src="/web/static/js/orgs.js"></script>
    </div>
{{ end }}