* {
    font-family: 'acherusgrotesque-regita';
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius:50%;
}

.profile-name {
    padding-left: 10px;
    padding-right: 10px;
    margin: 1%;
    font-family: 'acherusgrotesque-regita';
    color: white;
}

.btn .dropdown-toggle {
    color: white;
}

#profile-dropdown-button {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
}

form { 
    vertical-align:middle;
    text-align:center;
}

.tab-item {
    padding: 1%;
}

a {
    text-decoration: none !important;
}

.jumbotron {
    background-color: #ffffff !important;
}

.pull-requests-header {
    text-align: center;
    margin-bottom: 2%;
}

.nav.nav-tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2%;
}

.tab-item > a {
    color: #000;
}

.tab-item > a.active {
    border: #000 solid 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.tab-content {
    text-align: center;
}